/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: darkseagreen;
  color: darkgreen;
}

h1 {
  font-family: Tahoma, verdana, sans-serif;
  color: black;
}

button {
  padding: 15px;
  border-radius: 5px;
}

img{
  display: block;
  height: 200px;
  width: 200px;
}

#gameButtonArea > button {
  width: 200px;
  height: 200px;
  margin: 2px;
}

#button1 {
  background: darkorange;
}
#button1:active,
#button1.lit {
  background: black;
}

#button2 {
  background: burlywood;
}
#button2:active,
#button2.lit {
  background: sienna;
}

#button3 {
  background: wheat;
}
#button3:active,
#button3.lit {
  background: saddlebrown;
}

#button4 {
  background: white;
}
#button4:active,
#button4.lit {
  background: black;
}

#button5 {
  background: lightgreen;
}
#button5:active,
#button5.lit {
  background: seagreen;
}

.hidden {
  display: none;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
